header{
    font-family: 'Dongle', sans-serif;
    font-size: 48px
}
body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 28px;
    text-align: center;
    display: block;
}
img{
    display: block;
    margin: auto;
}
p{
    text-align: left;
    padding-right: 15%; 
    padding-left: 15%;
}
sP{
    display: inline;
}
.navigation {
    background-color: rgb(235, 233, 233);
}
.navigation a {
    color: #000000;
    padding: 14px 16px;
    font-size: 24px;
}
.navigation a:hover {
    background-color: rgb(190, 190, 190);
}

/* https://www.geeksforgeeks.org/how-to-set-alternate-table-row-color-using-css/  table styling references this */
table {
    border-collapse: collapse;
    width: auto;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: rgb(235, 233, 233);
}  
footer{
    background-color: rgb(235, 233, 233);
}